<body class="body">
    <img src="assets/Background Atb.png" alt="Background" class="background-img">
<div id="addUtilisateur">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <img src="assets/logo atb.png"  alt="Logo ATB" style="width:40%" class="logo">
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddUtilisateur(addForm)">
            <div class="form-group">
               <label for="nom">Nom</label>
               <input type="text" ngModel name="nom" id="nom" placeholder="Nom" required>
            </div>
            <div class="form-group">
               <label for="prenom">Prenom</label>
               <input type="text" ngModel name="prenom"  id="email" placeholder="Prenom" required>
            </div>
            <div class="form-group">
               <label for="username">Nom d'utilisateur</label>
               <input type="text" ngModel name="username" id="username" placeholder="username" required>
            </div>
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" ngModel name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <label for="mdp">Mot de passe</label>
               <input type="password" ngModel name="mdp" id="mdp" placeholder="Mot de passe" required>
            </div>
            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="text" ngModel name="telephone" id="telephone" placeholder="Telephone" required>
             </div>
            <div class="modal-footer">

               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Inscription</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
</body>