<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>

</head>
<body>
    <img src="assets/backgr-login.png" alt="Background" class="background-img">
    <div class="container">
        <img src="assets/logo atb.png" alt="Logo">
        <h3>Connectez-vous</h3>
        <form action="login" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input [(ngModel)]="logs.username" name="username"  type="text" id="username" name="username" placeholder="Nom d'utilisateur">
                <a (click)="openUsernameModal()" >Nom d'utilisateur oublié ?</a>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input [(ngModel)]="logs.mdp" name="mdp" type="password" id="password" name="password" placeholder="Mot de passe">
                <a (click)="openUsernameModal2()">Mot de passe oublié ?</a>
            </div >
            <div class="btn-container">
            <button type="submit" class="btn" (click)="onLogin()" >Se connecter</button>
        </div>
        </form>
    </div>

    
   <div *ngIf="isUsernameModalOpen" class="modal-overlay">
   
   <div class="modal-content">
    <button class="close-btn" (click)="closeUsernameModal()">x</button>
    <h3>Veuillez saisir votre email :</h3>
    <input [(ngModel)]="email" type="email" />
    <p *ngIf="emailExist === false" style="color: red;">Cet email n'existe pas.</p>


    <br><br>
    <button (click)="submitemail()">verifier</button>
    
  </div>
  </div>

  <div *ngIf="isUsernameModalOpen2" class="modal-overlay">
   
   <div class="modal-content">
    <button class="close-btn" (click)="closeUsernameModal2()">x</button>
    <h3>Veuillez saisir votre email :</h3>
    <input [(ngModel)]="email" type="email" />
    <p *ngIf="emailExist === false" style="color: red;">Cet email n'existe pas.</p>


    <br><br>
    <button (click)="submitemailMDP()">verifier</button>
    
  </div>
</div>
</body>
</html>