
<div *ngIf="Homepage">
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=VT323&display=swap" rel="stylesheet">


<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px; background-color: rgb(31, 31, 31); color: #f1f1f1;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

</style>
</head>
<body>


<nav class="w3-sidebar  w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;display:none; background: linear-gradient(to bottom, #6c0020, #000000);" id="mySidebar" ><br>
  <a href="javascript:void(0)" (click)="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">

 <a href="http://localhost:4200/">
      <img src="assets\atblogosanscadre.png" alt="logo" style="width:75%; margin-bottom: 10px; margin-top: -10px; margin-left: 20px; " class="logo" >
    </a>
  </div>
  <div class="w3-bar-block">
   
    <a [routerLink]="'/login'" (click)="saveReferrer()" id="Connexion" class="w3-bar-item w3-button ">Connexion</a>
  </div>
</nav>


<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" (click)="w3_open()">☰</a>
  <span>ATB Space</span>
  <button [routerLink]="'/newuser'" (click)="saveReferrer()" class="btnnvcompteTLP">DEMANDE DE CRÉATION DE COMPTE</button>
</header>


<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer;display:none;" title="close side menu" id="myOverlay"></div>




<div class="w3-main" style="margin-left:340px;margin-right:40px">
<button [routerLink]="'/newuser'" (click)="saveReferrer()" class="btnnvcompte">DEMANDE DE CRÉATION DE COMPTE</button>

<div class="partie1">
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 style="text-align: justify; font-weight: bold; font-size: 35px; line-height: 1.2;"><b style="
    background: linear-gradient(to bottom, #ed0047, #430010);
    -webkit-background-clip: text;
    font-weight: 2500;
    font-size: 85px;
    -webkit-text-fill-color: transparent;
    display: inline-block;" class="bienvenue">Bienvenue </b> </h1>
    <h1 class="typed-text">{{ diText }}</h1>
    
  </div>


</div>


<div class="partie2">

<div
  id="homepageCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="7000">

  <div class="carousel-inner" style="background-color: #0c0c0c; border-radius: 20px;">
    

    <div
      *ngFor="let img of images; let i = index"
      class="carousel-item"
      [class.active]="i === 0">
      <img [src]="img"
           class="d-block w-100"
           [alt]="'Slide ' + (i + 1)" style="width: auto; height: 550px; border-radius: 20px;">
    </div>
  </div>

</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" ></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

 




  <div class="partie3" #partie3Ref>
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge "><b>Les Services ATB space</b></h1>
    <hr style="width:50px;border:5px solid #860624" class="w3-round">
  </div>
  <div class="srv-container" style=" display: flex; flex-wrap: wrap;">
    <div class="srv">
      
      <span style="color: #bd002c; font-weight: bold; font-size:20px;"><i class="bi bi-sort-numeric-up" style="font-size: 28px;"></i> File d’attente en ligne</span>
      <hr style="width:250px;border:5px solid #860624; margin-top: 5px;" class="w3-round">
      <p class="pargsrv">Suivez votre position dans la file et obtenez une estimation du temps d’attente. Gagnez du temps en évitant les longues attentes sur place.</p>
    </div>
    <div class="srv">

      <span style="color: #bd002c; font-weight: bold; font-size:20px;"><i class="bi bi-calendar-event" style="font-size: 28px;"></i> Rendez-vous en ligne</span>
      <hr style="width:250px;border:5px solid #860624; margin-top: 5px;" class="w3-round">
      <p class="pargsrv">Planifiez facilement un rendez-vous avec un conseiller ou pour discuter de vos solutions de crédit. Choisissez votre créneau, et gagnez du temps à l’agence.</p>
    </div>
    <div class="srv">
      
      <span style="color: #bd002c; font-weight: bold; font-size:20px;"><i class="bi bi-currency-exchange" style="font-size: 28px;"></i> Cours de change</span>
      <hr style="width:250px;border:5px solid #860624; margin-top: 5px;" class="w3-round">
      <p class="pargsrv">Profitez des taux de change compétitifs proposés par ATB. Accédez facilement aux meilleurs taux d’achat et de vente disponibles.</p>
    </div>
    <div class="srv srv-m-left">
      
      <span style="color: #bd002c; font-weight: bold; font-size:20px;"><i class="bi bi-credit-card-2-back" style="font-size: 28px;"></i> Cartes bancaires ATB</span>
      <hr style="width:250px;border:5px solid #860624; margin-top: 5px;" class="w3-round">
      <p class="pargsrv">Découvrez notre large catalogue de cartes adaptées à tous les profils. Profitez de solutions simples, sécurisées et pratiques pour vos paiements au quotidien.</p>
    </div>
    <div class="srv srv-m-right">
      
      <span style="color: #bd002c; font-weight: bold; font-size:20px;"><i class="bi bi-exclamation-octagon" style="font-size: 28px;"></i> Réclamation en ligne</span>
      <hr style="width:250px;border:5px solid #860624; margin-top: 5px;" class="w3-round">
      <p class="pargsrv">Soumettez facilement vos réclamations sans vous déplacer. Un service rapide, simple et disponible à tout moment.</p>
    </div>
</div>
  </div>
<div class="effet">
  <div class="txt">
    La confiance des clients repose sur des mécanismes éprouvés et une vigilance constante
  </div>
    
</div>

  <div class="atbapps-container" style=" display: flex; flex-wrap: wrap;">
  <div class="atbapps">
    <span style="color: #bd002c; font-weight: bold; font-size:20px;"><i class="bi bi-phone" style="font-size:40px;"></i> ATB Mobile</span>
    <hr style="width:250px;border:5px solid #860624; margin-top: 5px;" class="w3-round">
    <p class="pargsrv">ATB Mobile vous permet de gérer vos comptes bancaires directement depuis votre smartphone. Consultez vos soldes, effectuez des virements, payez vos factures et suivez vos opérations bancaires en temps réel.</p>
    
    <a href="https://www.atb.tn/produits/services-atbmobile-presentation.php" class="liresuite">
      <span style="color: #f1f1f1;">Lire la suite</span>
      <span style="color: #bd002c; font-size: 20px;"><i class="bi bi-arrow-right"></i></span>
    </a>
    </div>
    <div class="atbapps">
      <span style="color: #bd002c; font-weight: bold; font-size:20px;"><i class="bi bi-display" style="font-size:40px;"></i> ATB Net</span>
      <hr style="width:250px;border:5px solid #860624; margin-top: 5px;" class="w3-round">
      <p class="pargsrv">Soucieuse d'offrir à sa clientèle des solutions innovantes, l'ATB a enrichi son service de banque en ligne ATBNET afin d'assurer une nouvelle version plus complète et plus ergonomique.</p>

      <a href="https://www.atb.tn/produits/services-banque-presentation.php" class="liresuite">
        <span style="color: #f1f1f1;">Lire la suite</span>
        <span style="color: #bd002c; font-size: 20px;"><i class="bi bi-arrow-right"></i></span>
      </a>
    </div>
</div>
  <h1 class="w3-xxxlarge" id="actualitestlp" style="z-index: 1;"><b>Actualités</b></h1>
  <div class="effet2">
    <h1 class="w3-xxxlarge" id="actualites" style="z-index: 1;"><b>Actualités</b></h1>
    <img src="assets\newshome.png" class="news1">
    <img src="assets\newshome2.png" class="news2">
    <img src="assets\newshome3.png" class="news3">
  </div>

  

 <div style="border-radius: 20px;overflow: hidden; margin-top: 50px;">
   <google-map
  height="500px"
  width="100%"
  [center]="center"
  [zoom]="zoom">
  <map-marker *ngFor="let point of pointsDeVente" [position]="{lat: point.lat, lng: point.lng}" [label]="point.name"></map-marker>
</google-map>
</div>





</div>

<!-- W3.CSS Container -->
<div class="w3-container w3-padding-32 social-icons" style="margin-top:75px;padding-right:58px; background-color: #3b000e;">
  <div id="social">
  <span><a href="https://www.facebook.com/ArabTunisianBank/" target="_blank"><i class="bi bi-facebook"></i></a></span>
  <span><a href="https://www.instagram.com/arab_tunisian_bank/" target="_blank"><i class="bi bi-instagram"></i></a></span>
  <span><a href="https://www.linkedin.com/company/arabtunisianbank" target="_blank"><i class="bi bi-linkedin"></i></a></span>
  <span><a href="https://x.com/ATBTunisie" target="_blank"><i class="bi bi-twitter"></i></a></span>
  </div>
</div>

 
</body>
</html> 
</div>


<router-outlet></router-outlet>